:root {
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #3c3ac7;
    --secundario: #d9c01c;
    --gris: #757575;

}

html {

    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Oswald", sans-serif;
}

.titulo {

    text-align: center;
    font-size: 3.8rem;
    


}








.titulo span {

    font-size: 2rem;

}